# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask / Projekt
instance/
.webassets-cache
.env
.flaskenv
app.db
app.db-journal
logs/
*.log

# Uploads (Bilder bleiben lokal)
static/uploads/*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
